<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" />

</head>
<body>
    <div class="Title">Artists List</div>
<div class="card-container">
    {{range .}}
    <a href="/artist?id={{.ID}}" class="card-link">
        <div class="card">
            <div class="card-content">
                <div class="word"> {{.Name}}</div>   
            </div> 
            <img src={{.Image}} class="pic">
        </div>
    </a>    
        {{end}}
</div>
</body>
</html>